@import "poppins";
@import "reset";

$width: 1920;
$height: 1080;
//height: 18/$width*100vw; it will return 18pixels in a vw, in example it is a .9375vw

* {    
    box-sizing: border-box;

}

body {
    background: #E5E5E5;
    overflow: hidden;
    font-family:'Poppins';
    position: relative;
}

button, .close, .arrow {
    cursor: pointer;
}

.main-section {
    width: 100vw;
    height: 100vh;
}

.main-section section {
    min-width: 100vw;
    min-height: 100vh;
    &.home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .side_left, .side_right {
            height: 100vh;
        }
        .side_left {
            width: 1179/$width*100vw;
            padding: 146/$width*100vw 101/$width*100vw 101/$width*100vw;
            background-color: #B55A36;
            background-image: url(../media/images/spikelet.svg);
            background-repeat: no-repeat;
            background-size: 525/$width*100vw;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
                width: 806/$width*100vw;
                font-size: 56/$width*100vw;
                font-style: normal;
                line-height: 76/$width*100vw;
                letter-spacing: 0em;
                text-align: left;
                .bold_text {
                    font-family:'Poppins Medium';
                    font-weight: 500;
                }
                .text {
                    font-family:'Poppins ExtraLight';
                    font-weight: 275;
                }
            }
        }
        .side_right {
            width: ($width - 1179)/$width*100vw;
            .all_blocks {
                justify-content: flex-end;
                padding-right: 2/$width*100vw;
                width: 86.1%;
                margin-left: auto;
                .block {
                    width: 100%;
                    max-width: 100%;
                    //height: 489/$width*100vw;
                    &:not(:nth-child(1)) {
                        margin-top: 2/$width*100vw;
                    }
                }
            }
            .footer {
                justify-content: flex-end;
            }
        }
    }
}

.all_blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 983/$height*100vh;
    .block {
        position: relative;
        width: 33%;
        max-width: 49.5%;
        flex: 1 auto;
        height: 488/$height*100vh;
        background: white;
        padding: 30/$width*100vw 33/$width*100vw 18/$width*100vw;
        margin-top: 2/$width*100vw;
        .img_with_text {
            position: relative;
            width: 100%;
            //height: 295/$width*100vw;
            height: 295/$height*100vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .bottom_title {
                position: absolute;
                bottom: 0;
                //min-height: 70/$width*100vw;
                //height: 23.7%;
                min-height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Poppins';
                font-size: 26/$width*100vw;
                font-style: normal;
                font-weight: 500;
                line-height: 31/$width*100vw;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                background: rgba(93, 137, 180, .9);
                padding: 13/$width*100vw 24/$width*100vw 13/$width*100vw 20/$width*100vw;
                max-width: 86%;
                .play {
                    margin-left: 43/$width*100vw;
                    padding: 0;
                    border: none;
                    background: none;
                    img {
                        width: 20/$width*100vw;
                        height: 18/$width*100vw;
                    }
                }
            }
        }
        .description {
            font-family:'Poppins';
            font-size: 17/$height*100vh;
            font-style: normal;
            font-weight: 400;
            line-height: 28/$height*100vh;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 22/$height*100vh;
        }
        .time {
            position: absolute;
            bottom: 18/$height*100vh;
            font-family: 'Poppins Light';
            font-size: 14/$height*100vh;
            font-style: normal;
            font-weight: 300;
            line-height: 28/$height*100vh;
            letter-spacing: 0em;
            text-align: left;
            opacity: .4;
        }
    }
}

section.content {
    .all_blocks {
        padding: 0 2/$width*100vw;
        .block {
            &:nth-child(2), &:nth-child(5){
                margin-left: 2/$width*100vw;
                margin-right: 2/$width*100vw;
            }
        }
    }
}

.footer {
    padding: 27/$height*100vh;
    height: 97/$height*100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .arrow {
        width: 166/$width*100vw;
        height: 48/$width*100vw;
        padding: 10/$width*100vw 19/$width*100vw 10/$width*100vw 14/$width*100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2/$width*100vw solid #B55A36;
        font-family:'Poppins';
        font-size: 18/$width*100vw;
        font-style: normal;
        font-weight: 400;
        line-height: 28/$width*100vw;
        letter-spacing: 0em;
        text-align: left;
        &.arrow_left {
            width: 134/$width*100vw;
        }
        img {
            width: 12.5/$width*100vw;
            height: 12/$width*100vw;
        }
    }
}

.trademarks {
    display: flex;
    flex-direction: row;
    .block {
        width: 334/$width*100vw;
        height: 152/$width*100vw;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:not(:nth-child(1)) {
            margin-left: 10/$width*100vw;
        }
        img {
            width: 184/$width*100vw;
            height: 77/$width*100vw;
        }
    }
}

.video-section {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(black, #000000f0);
    position: absolute;
    top: 0;
    left: 100vw;
    transition: 1s ease-in-out,
                height 0s;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .close {
        position: absolute;
        top: 25/$width*100vw;
        right: 25/$width*100vw;
        width: 40/$width*100vw;
        height: 40/$width*100vw;
        transition: .75s ease-in-out;
    }
}

.main-section {
    .slick-dots {
        width: 80/$width*100vw;
        height: 24/$width*100vw;
        bottom: 36/$height*100vh;
        left: 150%;
        transform: translateX(-50%);
        transition: 1s ease-in-out;
        li {
            width: 6/$width*100vw;
            height: 6/$width*100vw;
            margin: 0 3/$width*100vw;
            transition: 1s ease-in-out;
            &.slick-active {
                width: 50/$width*100vw
            }
            button {
                width: 100%;
                height: 100%;
                padding: 3/$width*100vw;
                background: #B55A36;
                border-radius: 3/$width*100vw;
                &:before {
                    content: none;
                }
            }
        }
    }
}

@media screen and (max-aspect-ratio: 16/10) {
    .footer {
        padding: 27/$width*100vw;
        .arrow {
            height: 100%;
        }
    }
}

@media screen and (max-aspect-ratio: 1350/900) {
    $width: 1350;
    $height: 900;

    .all_blocks .block {
        .description {
            margin-top: 25/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 16/$width*100vw;
            line-height: 25/$width*100vw;
        }
        .img_with_text {
            height: 215/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 20/$width*100vw;
            line-height: 26/$width*100vw;
            .play {
                margin-left: 16/$width*100vw;
            }
        }
    }
}

@media screen and (max-aspect-ratio: 1100/900) {
    $width: 1100;
    $height: 900;

    .main-section section.home .side_left {
        width: 60vw;
        background-position: 0vw 0vw;
        background-size: 50vw;
    }

    .main-section section.home .side_right {
        width: 40vw;
    }

    .all_blocks .block {
        .description {
            margin-top: 25/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 15/$width*100vw;
            line-height: 23/$width*100vw;
        }
        .img_with_text {
            height: 235/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 20/$width*100vw;
            line-height: 26/$width*100vw;
            .play {
                margin-left: 16/$width*100vw;
                img {
                    width: 20/$width*100vw;
                    height: 19/$width*100vw;
                }
            }
        }
    }

    .footer .arrow {
        width: auto;
        font-size: 22/$width*100vw;
        &.arrow_left {
            width: auto;
        }
        img {
            width: 25/$width*100vw;
            height: 25/$width*100vw;
        }
        p {
            margin: 0 15/$width*100vw;
        }
    }

    .trademarks {
        display: flex;
        flex-direction: row;
        height: min-content;
        .block {
            width: auto;
            height: auto;
            padding: 10/$width*100vw 20/$width*100vw;
            &:not(:nth-child(1)) {
                margin: 0;
                margin-left: 20/$width*100vw;
            }
            img {
                height: 65/$width*100vw;
                width: auto;
            }
        }
    }
}

@media screen and (max-aspect-ratio: 900/900) {
    $height: 900;
    $width: $height;

    .main-section section.home .side_left {
        background-position: -30vw 0vw;
        background-size: 75vw;
    }

    .all_blocks .block {
        .description {
            margin-top: 15/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 15/$width*100vw;
            line-height: 21/$width*100vw;
        }
        .img_with_text {
            height: 160/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 15/$width*100vw;
            line-height: 22/$width*100vw;
            .play {
                margin-left: 18/$width*100vw;
            }
        }
    }

    .footer {
        padding: 1.75vh;
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
    }

    .trademarks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        .block {
            width: 48%;
            height: auto;
            padding: 10/$width*100vw 20/$width*100vw;
            &:not(:nth-child(1)) {
                margin: 0;
            }
        }
    }
}

@media screen and (max-aspect-ratio: 800/915) {
    $width: 800;
    $height: 915;

    .main-section section.home .side_left {
        background-position: -30vw 0vw;
        background-size: 75vw;
    }

    .main-section section.home .all_blocks .block .img_with_text {
        height: 195/$width*100vw;
    }

    .all_blocks .block {
        .description {
            margin-top: 15/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 15/$width*100vw;
            line-height: 21/$width*100vw;
        }
        .img_with_text {
            height: 135/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 15/$width*100vw;
            line-height: 22/$width*100vw;
            .play {
                margin-left: 18/$width*100vw;
            }
        }
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
    }

    .trademarks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        .block {
            width: 48%;
            height: auto;
            padding: 10/$width*100vw 20/$width*100vw;
            &:not(:nth-child(1)) {
                margin: 0;
            }
        }
    }
}

@media screen and (max-aspect-ratio: 700/915) {
    $width: 700;
    $height: 915;

    .main-section section.home .side_left {
        background-position: -30vw 0vw;
        background-size: 75vw;
    }

    .main-section section.home .all_blocks .block {
        height: 95vh/2 - 3/$height*100vh;
    }

    .main-section section.home .all_blocks .block .img_with_text {
        height: 220/$width*100vw;
    }

    .all_blocks {
        height: 95vh;
        .block {
            height: 95vh/3 - 3/$height*100vh;
            width: 100vw/2 - 4/$width*100vw;
        }
    }

    .all_blocks .block {
        .description {
            margin-top: 15/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 15/$width*100vw;
            line-height: 21/$width*100vw;
        }
        .img_with_text {
            height: 135/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 15/$width*100vw;
            line-height: 22/$width*100vw;
            .play {
                margin-left: 18/$width*100vw;
                img {
                    width: 20/$width*100vw;
                    height: 19/$width*100vw;
                }
            }
        }
    }

    .footer {
        padding: 1vh;
        height: 5vh;
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
        img {
            width: 16/$height*100vh;
            height: 15/$height*100vh;
        }

    }

    .trademarks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: min-content;
        .block {
            width: 48%;
            height: auto;
            padding: 10/$width*100vw 20/$width*100vw;
            &:not(:nth-child(1)) {
                margin: 0;
            }
        }
    }
}

@media screen and (max-aspect-ratio: 600/915) {
    $width: 600;
    $height: 915;

    .main-section section.home .side_left .title {
        font-size: 25/$width*100vw;
        line-height: 35/$width*100vw;
    }

    .main-section section.home .all_blocks .block .img_with_text {
        height: 220/$width*100vw;
    }

    .all_blocks .block {
        .description {
            margin-top: 12/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 15/$width*100vw;
            line-height: 21/$width*100vw;
        }
        .img_with_text {
            height: 130/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 15/$width*100vw;
            line-height: 22/$width*100vw;
            .play {
                margin-left: 18/$width*100vw;
            }
        }
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
    }
}

@media screen and (max-aspect-ratio: 500/915) {
    $width: 500;
    $height: 915;

    .all_blocks .block {
        .description {
            margin-top: 10/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 13/$width*100vw;
            line-height: 18/$width*100vw;
        }
        .img_with_text {
            height: 150/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 18/$width*100vw;
            line-height: 25/$width*100vw;
        }
    }

    .trademarks {
        flex-direction: column;
        .block {
            width: 100%;
            &:not(:nth-child(1)) {
                margin-top: 15/$width*100vw;
            }
            img {
                height: 50/$width*100vw;
            }
        }
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
    }
}

@media screen and (max-aspect-ratio: 450/915) {
    $width: 450;
    $height: 915;

    .all_blocks .block {
        .description {
            margin-top: 10/$width*100vw;
        }
        .description, .all_blocks .block time {
            font-size: 12/$width*100vw;
            line-height: 18/$width*100vw;
        }
        .img_with_text {
            height: 145/$width*100vw;
        }
        .img_with_text .bottom_title {
            font-size: 16/$width*100vw;
            line-height: 25/$width*100vw;
        }
    }

    .trademarks {
        flex-direction: column;
        .block {
            width: 100%;
            &:not(:nth-child(1)) {
                margin-top: 15/$width*100vw;
            }
        }
    }

    .footer .arrow {
        font-size: 15/$width*100vw;
        p {
            margin: 0 5/$width*100vw;
        }
    }
}

@media screen and (max-aspect-ratio: 414/896) {
    $width: 414;
    $height: 896;

    .main-section section.home {
        .side_left {
            width: 50vw;
            background-position: -50vw 0;
            background-size: 100vw;
            .title {
                width: 100%;
                font-size: 21/$width*100vw;
                line-height: 30/$width*100vw;
            }
        }
        .side_right {
            width: 50vw;
            .all_blocks {
                width: 91%;
                .block {
                    height: 95vh/2 - 2/$height*100vh;
                    .img_with_text {
                        height: 200/$height*100vh;
                    }
                    &:not(:nth-child(1)) {
                        margin-top: 2/$height*100vh;
                    }
                }
            }
        }
    }

    .all_blocks {
        height: 95vh;
        .block {
            height: 95vh/3 - 3/$height*100vh;
            width: 100vw/2 - 4/$width*100vw;
            .img_with_text {
                height: 120/$height*100vh;
                .bottom_title {
                    max-width: 100%;
                    font-size: 14/$width*100vw;
                    line-height: 20/$width*100vw;
                    .play {
                        margin-left: 20/$width*100vw;
                        img {
                            width: 11/$width*100vw;
                            height: 10/$width*100vw;
                        }
                    }
                }
            }
            .time {
                bottom: 3/$width*100vw;
            }
            .description, time {
                font-size: 14/$width*100vw;
                line-height: 20/$width*100vw;
            }
        }
    }

    .footer {
        height: 5vh;
        padding: 9/$height*100vh;
        .arrow {
            min-width: fit-content;
            font-size: 18/$height*100vh;
            line-height: 25/$height*100vh;
            img {
                width: 16/$height*100vh;
                height: 15/$height*100vh;
                margin: 0 5/$width*100vw;
            }
        }
    }

    .trademarks {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        .block {
            width: auto;
            height: auto;
            padding: 10/$height*100vh 20/$width*100vw;
            &:not(:nth-child(1)) {
                margin: 0;
                margin-top: 25/$height*100vh;
            }
            img {
                width: 100%;
                height: unset;
            }
        }
    }

    section.content {
        .all_blocks {
            padding: 0 2/$width*100vw;
            .block {
                margin-bottom: 2/$width*100vw;
                &:nth-child(5), &:nth-child(6) {
                    margin: 0;
                }
                &:nth-child(odd){
                    margin-right: 2/$width*100vw;
                }

            }
        }
    }

    .video-section {
        video {
            object-fit: contain;
        }
        .close {
            top: 15/$width*100vw;
            right: 15/$width*100vw;
            width: 25/$height*100vh;
            height: 25/$height*100vh;
        }
    }
}
